
/* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Coolvetica';

}*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
	margin: 0px;
	background-color: #1194f0;
}

.first {
	display: flex;
	justify-content: space-evenly;
	color: white;
	width: 1200px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;


}
.foot {
	display: flex;
	justify-content: space-evenly;
	color: white;
	width: 100%;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	


}

#serveur > ul {
display: none;
}

#serveur:hover > ul {
    display: contents;
}

li {
list-style: none;
    }
li a {
	text-decoration: none;
	color: white;
}

li a:hover {
	text-decoration: underline;
	color: orange;
}

nav {
display: flex;


}


header{
	background-color: black;
	min-height: 60px;

}


h1 {
	color: white;
}


h2 {
	text-align: center;
}


p {
	text-align: center;
}

.img2 {
	position: relative;
}

.img2 #pr, .img2 button {
display: none;

}
.img2:hover #pr {
	display: block;
	color: white;
	position: absolute;
	text-align: center;
	top: 50%;
	font-size: 2vw;
}
.img2:hover button {
	display: block;
	position: absolute;
	top: 80%;
	left: 50%;
}

#img {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 25px;
}


#gmod {
	padding-top: 10px;
	padding-left: 5px;
}

section {
	
	color: white;
}
footer {
	display: flex;
	background-color: black;
	min-height: 60px;

}
form {
	background-color: #48D4EB;
	width: 100%;
	top: 80%;
	left: 10%;

}
#logo {
	padding-top: 4px;
	padding-right: 5px;	
}

#secte {

  height: 200vh;
  
  background-color: #1194f0;

}


form {
	display: flex;
	align-items: center;
	border-radius: 50px;
	margin-right: auto;
	margin-left: auto;
}
.container
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 1350px;

}
.container .card
{
  width: 320px;
  margin: 20px;
  padding: 40px 30px;
  background: #ebf5fc;
  border-radius: 40px;
  }
.container .card:hover
{
  box-shadow: inset -6px -6px 20px rgba(255,255,255,0.5), inset 6px 6px 20px rgba(0,0,0,0.05);
}
.container .card .imgBx
{
  text-align: center;
}
.container .card .imgBx img
{
  max-width: 120px;
}
.container .card .contentBx
{
  position: relative;
  margin-top: 20px;
  text-align: center;
}
.container .card .contentBx h2
{
  color: #32a3b1;
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 2px;
}
.container .card .contentBx p
{
  color: #32a3b1;
}
.container .card .contentBx a
{
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 40px;
  color: #32a3b1;
  font-size: 16px;
  text-decoration: none;
  box-shadow: -4px -4px 15px rgba(255,255,255,1), 4px 4px 15px rgba(0,0,0,0.1);
}
.container .card .contentBx a:hover
{
  box-shadow: inset -4px -4px 10px rgba(255,255,255,0.5), inset 4px 4px 10px rgba(0,0,0,0.1);
}
.container .card a:hover span
{
  display: block;
  transform: scale(0.98);
}
.container .card:hover .imgBx,
.container .card:hover .contentBx
{
  transform: scale(0.98);
}